.logo {
    width: 100px;
    height: 100px;
}

.bongoSquadText {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

/* Li botone */

body {
    background-color: white;
    color: black;
}

button {
    margin: 20px;
    padding: 10px;
    cursor: pointer;
}

/* Modo oscuro */
body.dark-mode {
    background-color: black;
    color: white;
}
